<mat-card class="home mat-elevation-z3">
    <mat-card-header>
        <mat-card-title class="title">Bem vindo!</mat-card-title>
        <mat-card-subtitle class="subtitle">Sistema de controle de produtos e fornecedores, feito em Angular + Java Spring.</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
        
        <mat-card class="sobreMimCard mat-elevation-z3">
            <mat-card-header>
                <img src="../../../assets/img/profile-lucas.jpg" mat-card-avatar class="profile-picture" alt="Logo do Site">
                <mat-card-title>Lucas Ladeira</mat-card-title>
                <mat-card-subtitle>Desenvolvedor Back-end/Java Spring</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <ul>       
                    <h3> <i class="v-middle computer material-icons">computer</i> Tecnologias Utilizadas:</h3>
                    <li>API REST desenvolvida com Java 11 + Spring.</li>
                    <li>Spring Data JPA para persistência de dados.</li>
                    <li>Banco de Dados PostgreSQL e H2.</li>
                    <li>Angular.</li>
                    <li>Versionamento com Git/GitHub.</li>
                </ul>
            </mat-card-content>

            <mat-card-actions>
                <a href="https://github.com/oLadeira" target="_blank" mat-button>GitHub</a>
                <a href="https://www.linkedin.com/in/oladeira/" target="_blank" mat-button>Linkedin</a>
            </mat-card-actions>

        </mat-card>

    </mat-card-content>
</mat-card>
